<div class="table-insert-panel" data-table-panel hidden>
    <div class="form-row">
        <label for="article-table-rows">Строк</label>
        <input type="number" id="article-table-rows" data-table-rows min="1" max="20" value="3">
    </div>
    <div class="form-row">
        <label for="article-table-cols">Столбцов</label>
        <input type="number" id="article-table-cols" data-table-cols min="1" max="10" value="3">
    </div>
    <div class="form-row">
        <button type="button" class="button--primary" data-table-confirm>Вставить таблицу</button>
        <button type="button" class="button" data-table-cancel>Отмена</button>
    </div>
</div>
